<section data-ng-controller="IdeasController" data-ng-init="findOne()">
  <h1>Edit Idea</h1>
  <form data-ng-submit="update()" novalidate>
    <div>
      <label for="name">Name</label>
      <div>
        <input type="text" data-ng-model="idea.name" id="name" placeholder="Name" required>
      </div>
    </div>
    <div>
      <label for="desc">Description</label>
      <div>
        <textarea data-ng-model="idea.desc" id="desc"
          cols="30" rows="10" placeholder="Description"></textarea>
      </div>
    </div>
    <div>
      <input type="submit" value="Update">
    </div>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
</section>